{
  email {$TLS_EMAIL}
}

{$ROOT_DOMAIN} {
  redir https://{$APP_DOMAIN}{uri} permanent
}

{$APP_DOMAIN} {
  encode gzip zstd

  reverse_proxy api:10000 {
    lb_try_duration 5s
    transport http {
      keepalive 30s
      read_buffer 4096
      write_buffer 4096
    }
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-Proto {scheme}
  }

  header {
    -Server
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}
